/*global*/
*{
    margin:0;
    padding:0;
}
body {
    font-family: "Roboto", sans-serif;
}
p {
    line-height: 2;
}
a {
    text-decoration: none;
}
h1,h2,h3 {
    padding-bottom: 20px;
    padding-top:20px;
}

/* header */
.site-header {
    background-image: url(./img/header.jpg);
    
    height: 400px;
    background-size: cover ;
    background-position: top right;
    color: white;
}

.site-header a {
    color: white;
    padding-right: 30px;
}

.bar-menu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.contact-header {
    display: flex;
    height: 400px;
    background-size: cover;
    background-position: top right;
    flex-direction: column;
    justify-content: space-between;
}

/* about */
.about-container {
    display: flex;
    gap: 20px;
}

/*houses*/

.houses-main-container{
    display: flex;
    gap: 10px;
}


.houses-container {
    display: flex;
    flex-direction: column;
}
.houses-item{
    background-color: #dedede;
    margin-right: 10px;
}
.houses-item-img {
    width:100%;
    height: auto;

}
img {
    max-width: 100%;
}
.houses-item-text {
    padding: 20px;
    
}
.price{
    color:green;
    font-weight: bold;
}
.icon-container {
    display: flex;
}
.icon-container img {
    margin-right: 20px;
}

.icons-list {
    display: flex;
    justify-content: space-between;
}

/* utilities */
.btn {
    display: block;
    background-color: orange;
    color:white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
    border-radius: 5px;
}

/* contact */
.contact-header {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 150px;
    color: black;
}

.contact-header a {
    color: black;
}
.contact-container {
    width: 80px;
    margin: 0 auto;
}

.form-container {
    background-color: #dedede;
    padding: 20px;
    border-radius: 10px;
}

legend {
    font-size: 16px;
}

fieldset {
    border: 1px solid gray;
    padding: 20px;
    border-radius: 10px;
}

.footer-container {
    background-color: #dedede;
    height: 100px;   
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 250px;
}

.contact-infomation {
    display: flex;
    justify-content: space-between;
    padding: 100px;
}

.form-control {
    margin-bottom: 20px;
}
.form-control input,
.form-control textarea {
    border: none;
    width: 70%;
    padding: 5px;
    border-radius: 3px;
}

.form-control label {
display: inline-block;
width: 150px;
}

/* media Desktop to mobile */

@media (max-width: 500px) {
.body-container{
    min-height: 150px;
    flex-direction: column;
    width: 50%;
}
}