* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: coral;
    height: 100px;
}

.content {
    background-color: skyblue;
    min-height: calc(100vh - 160px);
}
.aside-right {
    background-color: pink;
    width: 50%;
    
}

.footer {
    background-color: lightgreen;
    width: 50%;
}

.flex-container{
    display: flex;
    height: 40px;

}

.aside-left {
    background-color: yellow;
}

/* Desktop First */
/* @media (max-width: <value>px){} */
@media (max-width: 768px) {
body {
    background-color: white;
    color: black;
    }
}

@media (max-width: 768px) {
    .header {
        background-color: peachpuff;
        text-align: center;
    }
}

@media (max-width: 768px){
.aside-left{
    display: none;
}

}
/* media query */

@media (max-width: 768px){
    .content {
        min-height: 250px;
    }
}

@media (max-width: 768px) {
.flex-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.aside-right {
    width: 100%;
    
}

.footer {
    width: 100%;
}
}
@media ( max-width: 500px) {
    .header {
        background-color: palegoldenrod;
        height: 100px;
    }
    
}